@model storeApp.Models.Item

@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddItem</h1>

<h4>Items</h4>
<hr />
@{
    if (ViewBag.isSuccess == true)
    {
        <h1>Item info inserted. Item Id = @ViewBag.itemId</h1>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutletId" class="control-label"></label>
                <select asp-for="OutletId" class="form-control" asp-items="ViewBag.outlets">
                <option value="">Select Outlet</option>
                </select>
                <span asp-validation-for="OutletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                    </div>
                </div>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

